html, body, header {
	background-color: black;
}
#wrapper {
	margin: 0 auto;
	height: 100%;
}
/* Text Alignment */
#wrapper .centered {
	text-align: center;
}
#wrapper .left-justified {
	text-align: left;
}
#wrapper .right-justified {
	text-align: right;
}

/*
Navigation
*/

#wrapper {
	font-family: Avenir Next, sans-serif;
}
#wrapper .navbar {

}
#wrapper .navbar .navbar-section{

}
#wrapper .navbar .navbar-section{

}
#wrapper .navbar .navbar-section .btn {

}

/*
Body
*/

#wrapper .container {

}
#wrapper .container .columns {

}
#wrapper .container .columns .column {

}
#wrapper .container .columns .column h1 {
	font-size: 5.6rem;
	line-height: 1.1;
}
#wrapper .container .columns .column img {

}

/*
Footer
*/



#wrapper .footer {

}
#wrapper .footer .columns .column {
	font-size: 1rem;
}
#wrapper .footer .columns .copyright {
	font-size: 0.6rem;
	line-height: 1rem;
	vertical-align: middle;
}

/*
Display Sizing
*/

@media (max-width: 1440px) {
	#wrapper .container .columns .column h1 {
		font-size: 5.4rem;
	}
}
@media (max-width: 1320px) {
	#wrapper .container .columns .column h1 {
		font-size: 5rem;
	}
}
@media (max-width: 1180px) {
	#wrapper .container .columns .column h1 {
		font-size: 4rem;
	}
}
@media (max-width: 940px) {
	#wrapper .container .columns .column h1 {
		font-size: 3.2rem;
	}
}
@media (max-width: 648px) {
	#wrapper .container .columns .column h1 {
		font-size: 2.4rem;
	}
}


